version: 2.1

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - "test-arangodb-3_4":
          requires:
            - build
      - "test-arangodb-3_5":
          requires:
            - "test-arangodb-3_4"
      - "test-arangodb-3_6":
          requires:
            - "test-arangodb-3_5"
      - "test-arangodb-3_7":
          requires:
            - build

jobs:
  build:
    working_directory: ~/arangodb-net-standard
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - checkout
      - run:
          name: Restore Packages
          command:
            dotnet restore
      - run:
          name: Build
          command:
            dotnet build -c Release
      - persist_to_workspace:
          root: ~/
          paths:
            - arangodb-net-standard

  "test-arangodb-3_4":
    working_directory: ~/arangodb-net-standard
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
        environment:
          ARANGO_HOST: adb3_4_9
      - image: arangodb:3.4.9
        name: adb3_4_9
        environment:
          ARANGO_ROOT_PASSWORD: root
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/
      - run:
          name: Test
          command:
            dotnet test -c Release --filter Transactions!=Stream
            
  "test-arangodb-3_5":
    working_directory: ~/arangodb-net-standard
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
        environment:
          ARANGO_HOST: adb3_5_5
      - image: arangodb:3.5.5
        name: adb3_5_5
        environment:
          ARANGO_ROOT_PASSWORD: root
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/
      - run:
          name: Test
          command:
            dotnet test -c Release

  "test-arangodb-3_6":
    working_directory: ~/arangodb-net-standard
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
        environment:
          ARANGO_HOST: adb3_6_8
      - image: arangodb/arangodb:3.6.8
        name: adb3_6_8
        environment:
          ARANGO_ROOT_PASSWORD: root
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/
      - run:
          name: Test
          command:
            dotnet test -c Release

  "test-arangodb-3_7":
    working_directory: ~/arangodb-net-standard
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
        environment:
          ARANGO_HOST: adb3_7_3
      - image: arangodb/arangodb:3.7.3
        name: adb3_7_3
        environment:
          ARANGO_ROOT_PASSWORD: root
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/
      - run:
          name: Test
          command:
            dotnet test -c Release